.confirmation{
    background-color: #CBFF5C;  
    margin: 1rem;
    padding: 2rem 5rem;
    border-radius: 1rem;
    height: calc(100vh - 200px);

    display: flex;
    flex-flow: column;
    align-items: center;

    h1{
        font-size: 5rem;
        font-weight: 800;
    }

    button{
        width: 200px;
        background-color: #18171C;
        color: white;
        border: none;
        outline: none;
        border-radius: 5px;
        padding: .5rem;
        cursor: pointer;
        margin-top: 1rem;
        margin-bottom: 2rem;
    }

    img{
        width: 100%;
        filter: drop-shadow(10px 10px 8px #0000001e);
    }
}